/* 
:root {
    --f7-navbar-bg-color: rgb(216, 214, 214) !important;
    --f7-navbar-hide-show-transition-duration: 400ms;
    --f7-navbar-title-line-height: 1.2;
    --f7-navbar-title-font-size: inherit;
    --f7-navbar-subtitle-text-align: inherit;
    --f7-navbar-large-title-line-height: 1.2;
    --f7-navbar-large-title-text-color: black;
    --f7-navbar-large-title-padding-left: 16px;
    --f7-navbar-large-title-padding-right: 16px;
}
 */
table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;

  }
  
  table, th, td {
    border: 1px solid black;
  }

  th {
    background-color: rgb(74, 77, 74);
    color: white;
  }

  .responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
  }


  .demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  .demo-card-header-pic .card-content-padding .date{
    color: #8e8e93;
  }